@model List<CS447.Models.Slide>

<div class="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            @*@for (int i = 0; i < Model.Count; i++)
        {
            if (i == 0)
            {
                <div class="carousel-item active" style="background-image: url(@Model[i].Image)">
                    <div class="carousel-caption text-center">
                        <h3>
                            @Model[i].Title
                            <span>@Model[i].Content</span>
                        </h3>
                        <a href="i.Link" class="btn btn-sm animated-button gibson-three mt-4">Xem ngay</a>
                    </div>
                </div>
            }
            else
            {
                <div class="carousel-item item2" style="background-image: url(@Model[i].Image)">
                    <div class="carousel-caption text-center">
                        <h3>
                            @Model[i].Title
                            <span>@Model[i].Content</span>
                        </h3>
                        <a href="i.Link" class="btn btn-sm animated-button gibson-three mt-4">Xem ngay</a>
                    </div>
                </div>
            }
        }*@
            @foreach (var item in Model)
            {
                if (item==Model[0])
                {
                    <div class="carousel-item active" style="background-image: url(@item.Image)">
                        <div class="carousel-caption text-center">
                            <h3>
                                @item.Title
                                <span>@item.Content</span>
                            </h3>
                            <a href="@item.Link" class="btn btn-sm animated-button gibson-three mt-4">Xem ngay</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="carousel-item item2" style="background-image: url(@item.Image)">
                        <div class="carousel-caption text-center">
                            <h3>
                                @item.Title
                                <span>@item.Content</span>
                            </h3>
                            <a href="i.Link" class="btn btn-sm animated-button gibson-three mt-4">Xem ngay</a>
                        </div>
                    </div>
                }
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--//banner -->
</div>


